{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>store Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
</head>
<body>
<section class="bg-gray-50 test">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <p class="font-bold text-2xl py-4"> E-Store</p>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Change Your Account Password
                </h1>
                <form class="space-y-8" method="post" class="py-8">
                    {% csrf_token %}
                    <div class="">
                        {{ form }}
                    </div>

                    <button type="submit"
                            class="w-full py-4 text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        Change Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
