{% extends "base.html" %}
{% block content %}
    <section class="bg-white mt-[100px]">
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-bold text-center text-gray-900">Profile</h2>
            <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Want to update
                profile? You can update information here like update billing information for purchasing etc .</p>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit"
                        class="w-full my-4 py-4 px-5 text-sm font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-primary-300">
                    Update Profile
                </button>
            </form>
        </div>
    </section>
{% endblock content %}
